<!-- <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of images;let i=index">
    <div class="picsum-img-wrapper ">
      <img [src]="image" alt="Random slide" class="w-100" style="height: 300px;">
      <img src="assets\img\offer1.png" alt="Random slide" class="w-100 h-35">

    </div>
  </ng-template>
</ngb-carousel> -->



<ngb-carousel *ngIf="images" [showNavigationArrows]="false">
  <ng-template ngbSlide *ngFor="let img of images; let i=index;">
    <div class="picsum-img-wrapper mt-4">
      <img [src]="img" class="d-sm-none d-block w-100 carousel-img" style="height: 300px;">
      <img [src]="img" class="d-none d-sm-inline w-50 carousel-img" style="height: 300px;">
      <img [src]="images[images.length -1==i? 0: i+1]" class="d-none d-sm-inline w-50 carousel-img"
        style="height: 300px;">
    </div>
  </ng-template>
</ngb-carousel>
