<!-- <ngx-spinner bdColor="rgba(175,152,223,0.8)" size="large" color="#6b12e8" type="ball-fussion" [fullScreen]="false">
</ngx-spinner> -->
<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mt-4"
    *ngFor="let product of filteredProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
    <div class="card shadow-lg mt-3">
      <span class="discount">10%</span>
      <span class="cat bg-info text-white">Fruit</span>
      <div class="zoomIn">
        <img class="card-img-top" [src]="product">
      </div>
      <div class="card-body text-center">
        <h5 class="card-text text-dark" style="font-size: 12;font-weight: bold; ">Apple</h5>
        <p class="card-title text-primary d-inline"
          style="font-size: 1.28571429em;font-weight: 700;line-height: 1.2857em;margin: 0;">
          25$</p>
        <del class="pl-2 old-price">2$</del>
        <div>
          <!-- <ngb-rating rate="4" class="text-warning d-block" max="5"></ngb-rating> -->
          <i class="fa fa-star text-red-flate" aria-hidden="true"></i>
          <i class="fa fa-star text-red-flate" aria-hidden="true"></i>
          <i class="fa fa-star text-red-flate" aria-hidden="true"></i>
          <i class="fa fa-star text-red-flate" aria-hidden="true"></i>
          <i class="fa fa-star-o text-red-flate" aria-hidden="true"></i>

        </div>
      </div>

      <div class="card-footer bg-white m-0 p-0" *ngIf="qty == 0 then Add else Added">

      </div>
    </div>
  </div>
</div>
<br>
<ngb-pagination class="my-pagination" [pageSize]="pageSize" [collectionSize]="filteredProducts.length" [(page)]="page"
  [boundaryLinks]="true">
</ngb-pagination>


<!-- template -->
<!-- template -->

<ng-template #Add>
  <div>
    <button type="button" class="btn btn btn-primary btn-sm  w-50  d-inline">
      Wish <i class="fa fa-shopping-bag"></i>
    </button>
    <button class="btn btn-outline-primary btn-sm btn-block w-50  d-inline" (click)="addToCart()">
      Add <i class="fa fa-shopping-cart fa-lg" aria-hidden="true" ></i>
    </button>
  </div>
</ng-template>
<ng-template #Added>

  <div>
    <input #qty type="number" value="1"
    class="form-control pt-1 input-sm w-50 d-inline text-white text-center bg-info"
    style="height: 29px;font-size: 12px;line-height: 12px; font-weight: bold;">
  <button type="button" class="add-to-cart" class="btn btn btn-outline-info  btn-sm w-50  d-inline">
    Buy <i class="fa fa-cart-plus "></i>
  </button>
  <button type="button" class="btn btn btn-outline-primary btn-sm btn-block">
    View <i class="fa fa-search "></i>
  </button>
  </div>
</ng-template>

<!-- template -->
<!-- template -->





<!-- <div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mt-4"
      *ngFor="let product of filteredProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i"
      @jackinTheBox>
      <div class="card shadow-lg mt-3">
          <span *ngIf="product.discount>0" class="discount">{{product.discount}}%</span>
          <span class="cat bg-info text-white">{{product.categoryName}}</span>
          <div class="zoomIn">
              <img class="card-img-top" [src]="product.imgUrl">
          </div>
          <div class="card-body text-center">
              <h5 class="card-text" style="font-size: 12; ">{{product.name |titlecase}}</h5>
              <p class="card-title text-primary d-inline"
                  style="font-size: 1.28571429em;font-weight: 700;line-height: 1.2857em;margin: 0;">
                  {{ product.price - (product.discount/100 * product.price) |currency }}</p>
              <del *ngIf="product.discount>0" class="pl-2 old-price">{{ product.price |currency }}</del>
              <div>
                  <ngb-rating rate="4" class="text-warning d-block" max="5"></ngb-rating>
              </div>
          </div>
          <div class="card-footer bg-white m-0 p-0">
              <button type="button" class="btn btn btn-primary btn-sm  w-50  d-inline" *ngIf="id !=product.id"
                  @fadeinDown (click)="productToLocalStorge(product.id)">
                  Wish <i class="fa fa-shopping-bag"></i>
              </button>
              <button class="btn btn-outline-primary btn-sm btn-block w-50  d-inline" (click)="AddToCart(product.id)"*ngIf="id !=product.id"
                  @fadeinDown >
                  Add <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
              </button>

              <div *ngIf="id == product.id" @fadeinDown>

                  <input #qty type="number" value="1"
                      class="form-control pt-1 input-sm w-50 d-inline text-white text-center bg-info"
                      style="height: 29px;font-size: 12px;line-height: 12px; font-weight: bold;">
                  <button type="button" class="add-to-cart" class="btn btn btn-outline-info  btn-sm w-50  d-inline"
                      (click)="[buy(qty.value),cartanimate(i)]">
                      Buy <i class="fa fa-cart-plus "></i>
                  </button>
                  <button type="button" class="btn btn btn-outline-primary btn-sm btn-block" (click)="openModal(product.id)">
                      View <i class="fa fa-search "></i>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<ngb-pagination [pageSize]="pageSize" [collectionSize]="products.length" [(page)]="page" [boundaryLinks]="true">
</ngb-pagination> -->
